@mixin displayFlex($direction, $justify, $align, $gap) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
};

@mixin displayGrid($columns, $gap) {
    display: grid;
    grid-template-columns: $columns;
    gap: $gap;
};

@mixin borderOutlineNone() {
    outline: none;
    border: none;
}

@mixin buttonStyle() {
    background-color: $buttons-background-color;
    color: $buttons-color;
    padding: 8px 16px;
    border-radius: 8px;
    @include borderOutlineNone();
}

@mixin searchParams() {
    padding-left: 37px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-right: 0px;

    &::placeholder {
        font-size: $important-p-font-size;
    }

    &:focus {
        outline: none;
    }
}

@mixin searchBtn() {
    height: 42px;
    @include borderOutlineNone();
    background-color: $nav-search-submit-background-color;
    padding: 11px;
    border-top-right-radius: $buttons-border-radius;
    border-bottom-right-radius: $buttons-border-radius;
}

@mixin iconInlineAlign() {
    vertical-align: middle;
    display: inline-block;
    margin-right: 5px;
}

@mixin footerHeader() {
    color: $footer-header-color;
    font-size: $important-p-font-size;
}