@import 'reset';
@import 'mixins';
@import 'variables';

////////////// FONTS ///////////////////// 

p {
    font-size: $p-font-size;
}

h2 {
    font-size: $h2-font-size;
}

h3 {
    font-size: $h3-font-size;
    font-weight: 500;
}

h4 {
    font-size: $h4-font-size;
    font-weight: 500;
}

////////////// PONTER SETTINGS ///////////////////// 

a:hover, button:hover {
    cursor: pointer;
}

////////////// NAV ///////////////////// 

.navBig {
    margin: 11px 50px 11px 24px;
    @include displayFlex(row, space-between, center, 20px);

    .navLeft {
        @include displayFlex(row, center, center, 40px);

        #navSearchForm {
            @include displayFlex(row, center, center, 0px);
            position: relative;

            #navSearchIcon {
                position: absolute;
                left: 10px;
            }
    
            #navSearch, #navSearchLocation {
                min-height: 42px;
                border: 1px solid $input-border-color;
            }
    
            #navSearch {
                @include searchParams();
                width: 300px;
            }
    
            #navSearchLocation {
                width: 254px;
                border-right: 0px;
                padding-left: 17px;
    
                &:focus {
                    outline: none;
                }
            }
    
            #navSearchSubmit {
                @include searchBtn();
            }
        }

    }

    .navRight {
        @include displayFlex(row, center, center, 22px);

        #navSignUpBtn {
            @include buttonStyle();
        }
    }
    .navLang {
        @include displayFlex(row, center, center, 4px);
        svg:hover {
            cursor: pointer;
        }
    }
}

#navSearchFormSmall {
    display: none;
}

.main {
    margin: 0 158px;
}

////////////// MAIN DESCRIPTION ///////////////////// 

.mainDescription {
    @include displayFlex(row, center, center, 46px);
    margin: 96px 0;

    .mainDescriptionLeft {
        max-width: 608px;

        h2, p {
            margin-bottom: 24px;
        }

        p {
            font-size: $important-p-font-size;
        }

        #mainDescriptionJoinBtn {
            @include buttonStyle();
        }
    }
}

////////////// EVENTS NAV ///////////////////// 

.eventsNav {
    @include displayFlex(row, space-between, center, 0px);
    margin-bottom: 24px;

    .eventsNavDiv {
        @include displayFlex(row, center, center, 12px);

        #eventsNavLocation {
            background-color: #F3F9F9;
            @include borderOutlineNone();
            padding: 8px 12px;
            font-size: $location-font-size;
            font-weight: $location-font-weight;
            color: $location-color;
            border-radius: $buttons-border-radius;

            svg {
                width: 22px;
                height: 22px;
            }
        }
    }
    p {
        color: $location-color;
        font-size: $important-p-font-size;
    }
}

#eventsNavUpcoming {
    margin-top: 40px;
}

////////////// EVENTS GRID ///////////////////// 

.eventsGrid {
    @include displayGrid(repeat(4, minmax(100px,272px)), 36px);
    margin: 0 auto;
    max-width: 1196px;
    .eventCard {
        &:hover {
            cursor: pointer;
        }
        position: relative;
        height: 400px;
        img {
            width: 100%;
            height: 153px;
            object-fit: cover;
            border-radius: 4px;
            margin-bottom: 12px;
        }
        h4 {
            margin-bottom: 8px;
            font-weight: 500;
        }
        p {
            color: $extra-info-color;
            margin-bottom: 8px;
        }

        .eventDate {
            font-size: $important-p-font-size;
            &::before {
                @include iconInlineAlign();
                content: url(../assets/cards_icons/eventDateIcon.svg);
            }
        }
        .eventAttendees{
            font-size: $important-p-font-size;
            &::before {
                @include iconInlineAlign();
                content: url(../assets/cards_icons/eventAttendeesIcon.svg);  
            }
        }
        .eventCost{
            font-size: $important-p-font-size;
            &::before {
                @include iconInlineAlign();
                content: url('../assets/cards_icons/eventCostIcon.svg');
            }
        }
        .eventOnlinePlaque {
            position: absolute;
            padding: 5px;
            border-radius: 4px;
            top: 5px;
            left: 10px;
            background-color: $buttons-color;
            color: $extra-info-color;
            &::before {
                @include iconInlineAlign();
                content: url(../assets/cards_icons/eventOnlinePlaque.svg);
            }
        }
    }
}

////////////// JOIN MEETUP ///////////////////// 
.joinMeetupContainer {
    margin: 0 158px;
    @include displayGrid(3fr 1fr, 10px);

    img {
        grid-row-start: span 2;

    }

    h3 {
        align-self: center;
    }

    margin-top: 40px;
    padding: 20px 56px;
    background-color: $categories-background-color;

    .joinMeetupInfo {
        @include displayFlex(column, flex-start, flex-start, 16px);

        p {
            font-size: $important-p-font-size;
            margin-right: 10%;
            line-height: 24px;
        }

        #joinMeetupSignUpBtn {
            background-color: $join-meetup-btn-background-color;
            color: $buttons-color;
            @include borderOutlineNone();
            border-radius: 8px;
            padding: 8px 66px;
        }
    }
}

////////////// CATEGORIES ///////////////////// 

#categoriesHeader {
    margin: 24px 0;
}
.categoriesContainer {
    @include displayFlex(row, center, center, 16px);
    row-gap: 16px;
    flex-wrap: wrap;
    margin-bottom: 48px;

    .categoryGroup {
        @include displayFlex(row, center, center, 16px);
    }
    .category {
        &:hover {
            cursor: pointer;
        }
        @include displayFlex(column, center, center, 6px);
        padding: 26px 28px;
        width: 135px;
        height: 112px;
        background-color: $categories-background-color;

        p {
            font-size: $important-p-font-size;
            max-width: 84px;
            text-align: center;
        }
    }
}

////////////// CITIES ///////////////////// 

.citiesPartContainer {
    p {
        margin: 16px 0 28px 0;
        color: $extra-info-color;
        font-size: $important-p-font-size;
        line-height: 24px;
    }
}

.citiesContainer {
    @include displayFlex(row, center, center, 40px);
    text-align: center;
    flex-wrap: wrap;

    .cityGroup {
        @include displayFlex(row, center, center, 40px);
        &:hover{
            cursor: pointer;
        }
    }
    .city {
        img {
            margin-bottom: 24px;
        }
    }
}

////////////// HOW TO ///////////////////// 

.howContainer {

    margin: 64px 0;
    
    h3 {
        margin-bottom: 24px;
    }

    .howCardsContainer {
        @include displayFlex(row, center, center, 32px);

        .howCards {
            padding: 32px 24px;
            width: 580px;
            @include displayFlex(row, flex-start, flex-start, 24px);
            background-color: $categories-background-color;

            h4, #howCardsDiscoverInfoP, #howCardsStartInfoP {
                margin-bottom: 16px;
            }

            img {
                width: 41px;
                height: 41px;
            }

            #searchEvents, #startGroup {
                color: $location-color;
                font-weight: 500;
            }
            
        }
    }
}

////////////// FRIENDSHIPS ///////////////////// 

.friendshipsContainer {
    margin-bottom: 38px;
}

#friendshipsDescription {
    margin: 16px 0 28px 0;
    color: $extra-info-color;
    font-size: $important-p-font-size;
}

.friendshipsCardsContainer {
    @include displayFlex(row, center, flex-start, 32px);

    .friendshipsCard {

        img {
            width: 24.8vw;
        }

        h4 {
            max-width: 320px;
            line-height: 28px;
            margin: 24px 0 12px 0;
        }

        .friendshipsCardInfo {
            color: $extra-info-color;
            font-size: $important-p-font-size;
            margin-bottom: 16px;
            max-width: 376px;
        }

        .friendshipsReadMore {
            color: $location-color;
            margin-bottom: 54px;
        }
    }
}

////////////// FOOTER ///////////////////// 

footer {
    background-color: $footer-background-color;
    padding: 34px 196px 40px 196px;
}

.footerTop {
    @include displayFlex(row, flex-start, flex-start, 36px);
    border-bottom: 1px solid $input-border-color;

    a {
        @include footerHeader();
        font-weight: 500;
    }

    button {
        background-color: $footer-background-color;
        color: $buttons-color;
        border: 1px solid $buttons-color;
        border-radius: 6px;
        padding: 10px 14px;
        margin-bottom: 25px;
    }
}

.footerContainer {
    @include displayFlex(row, flex-start, flex-start, 240px);
    margin: 24px 0 36px 0;
    color: $footer-color;
    .footerLinks {
        @include displayFlex(column, flex-start, flex-start, 7px);
        min-width: 130px;

        .yourAccountHeader {
            @include footerHeader();
        }
    }
}

#followHeader {
    @include footerHeader();
    margin-bottom: 12px;
}

.followContainer {
    margin-bottom: 48px;
    @include displayFlex(row, space-between, flex-start, 0);
    #socialMedia, #appStores {
        @include displayFlex(row, flex-start, flex-start, 32px);
    }
}

.footerBottom {
    @include displayFlex(row, flex-start, flex-start, 24px);
    text-wrap: nowrap;
    #footerYear {
        color: $footer-header-color;
    }
    a {
        color: $footer-color;
    }
}

////////////// EVENTS PAGE ///////////////////// 

.eventsMain {
    margin: 77px 158px;
}

.eventsMainTopRight {
    h4 {
        margin-bottom: 14px;
    }
}
.eventsMainTopContainer {
    @include displayFlex(row, space-between, flex-start, 18px);
    #eventsPageEventsHeader {
        color: $buttons-background-color;
        margin: 16px 0 12px 0;
        text-decoration: underline;
    }
    .eventsFilterButtonsContainer {
        @include displayFlex(row, flex-start, flex-start, 18px);
    }
    
    .eventsFilterBtn {
        position: relative;
        background-color: $footer-header-color;
        border-radius: 40px;
        padding: 16px;
        text-wrap: nowrap;
        @include borderOutlineNone();
        span {
            font-size: $p-font-size;
            font-weight: 500;
            &::after {
                content: url(../assets/drop.svg);
                vertical-align: middle;
                margin-left: 13px;
            }
        }

        &:hover {
            width: 170px;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            .dropcontent {
                display: block;
                border-bottom-left-radius: 40px;
                border-bottom-right-radius: 40px;
            }
        }
    }
    .dropcontent {
        @include displayFlex(column, flex-start, flex-start, 0);
        display: none;
        width: 170px;
        position: absolute;
        left: 0;
        background-color: #f9f9f9;
        padding: 16px;
        z-index: 1;

        p {
            font-size: $p-font-size;
            margin-bottom: $p-font-size;

            &:hover {
                color: $buttons-background-color;
                cursor: pointer;
            }
        }
    }

    .eventsFilterContainer {
        margin: 56px 0;
        @include displayFlex(column, flex-start, flex-start, 20px);
    }
    .map {
        width: 350px;
        height: 285px;
    }

    }
.eventFilterCard {
    @include displayFlex(row, flex-start, flex-start, 12px);
    height: 144px;
    width: 604px;
    max-width: 604px;
    padding-top: 16px;
    border-top: 1px solid #D9D9D9;
    position: relative;
    img {
        min-width: 160px;
        height: 90px;
        object-fit: cover;
        border-radius: 8px;
    }
    .eventFilterCardInfo {
        @include displayFlex(column, flex-start, flex-start, 4px);
        .eventFilterDate {
            color: $filter-event-date-color;
            order: 1;
        }
        h4 {
            font-size: $important-p-font-size;
            order: 2;
        }
        .eventFilterCategory {
            order: 3;
            color: $extra-info-color;
        }
        .eventFilterAttendees {
            order: 4;
            color: $extra-info-color;
            position: absolute;
            bottom: 0;
            &::after {
                content: ' attendees';
            }
        }
        .eventOnlinePlaque {
            position: absolute;
            padding: 5px;
            border-radius: 4px;
            top: 24px;
            left: 8px;
            background-color: $buttons-color;
            color: $extra-info-color;
            font-size: $small-p-font-size;
            &::before {
                @include iconInlineAlign();
                content: url(../assets/cards_icons/eventOnlinePlaque.svg);
            }
        }
    }
}








////////////// MEDIA QUERIES ///////////////////// 

////////////// MEDIA 1200PX ///////////////////// 

@media screen and (max-width: 1200px) {
    .main {
        margin: 0 10%;
    }

    .navBig {
        .navLeft {
            #navSearchForm {
                #navSearch {
                    width: fit-content;
                }
                #navSearchLocation {
                    width: fit-content;
                }
            }
        }
    }
    

    h2 {
        font-size: 36px;
    }
    
    .mainDescriptionLeft {
        p {
            font-size: $p-font-size;
        }
    }

    .joinMeetupContainer {
        margin: 40px 10%;
    }

    footer {
        padding: 34px 64px 40px 64px;
    }

    .eventsMainTopRight {
        display: none;
    }
}

////////////// MEDIA 1024PX ///////////////////// 

@media screen and (max-width: 1024px) {

    .navBig {
        margin: 11px 20px 11px 24px;
    }

    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 18px;
    }

    .navLang {
        p {
            display: none;
        }
    }

    .mainDescription {
        gap: 0;
        img {
            max-width: 320px;
        }
        #mainDescriptionJoinBtn {
            display: none;
        }
    }

    .eventsNav {
        .eventsNavDiv {
            #eventsNavLocation {
                font-size: $important-p-font-size;
                svg {
                    width: 16px;
                    height: 16px;
                }
            }

        }
        p {
            font-size: $p-font-size;
        }
    }

    .eventsGrid {
        @include displayGrid(repeat(3, minmax(100px,272px)), 36px);
    }

    .joinMeetupContainer {
        padding: 18px 24px;
        img {
            width: 238px;
        }
    }

    .citiesContainer {
        .city {
            img {
                width: 154px;
                height: 154px;
            }
        }
    }

    .howContainer {
        .howCardsContainer {
            flex-direction: column;
            .howCards {
                width: 100%;
                img {
                    width: 25px;
                    height: 25px;
                }
            }
        }
    }

    .friendshipsCardsContainer {
        gap: 18px;
    }

    .footerContainer {
        gap: 20%;
    }
    .footerBottom {
        a {
            display: none;
        }
    }

    .eventsMain {
        margin: 44px 68px;
    }
}

////////////// MEDIA 768PX ///////////////////// 

@media screen and (max-width: 768px) {

    h2 {
        font-size: 28px;
    }
    h3 {
        font-size: 20px;
    }
    h4 {
        font-size: 16px;
    }

    #navSearchFormSmall {
        @include displayFlex(row, center, center, 0px);
        gap: 0;
        margin: 0 auto;
        input {
            width: 300px;
            min-height: 42px;
            border: 1px solid $input-border-color;
            @include searchParams();
        }
        button {
            @include searchBtn();
            position: relative;
        }
        #navSearchIconSmall {
            position: absolute;
            left: -292px;
            top: 8px;
        }
    }

    .navBig {
        .navLeft {
            #navSearchForm {
                display: none;
            }

        }
    }

    .navLang {
        p {
            display: block;
        }
    }
    
    .mainDescription {
        margin: 30px 0;
        flex-direction: column;
    }


    .eventsNav {
        .eventsNavDiv {
            #eventsNavLocation {
                font-size: $important-p-font-size;
                svg {
                    width: 16px;
                    height: 16px;
                }
            }
        }
        p {
            font-size: $p-font-size;
        }
    }

    .eventsGrid {
        @include displayFlex(column, center, center, 20px);
        .eventCard {
            @include displayFlex(row, flex-start, flex-start, 20px);
            width: 100%;
            height: 153px;
    
            img {
                max-width: 140px;
                max-height: 80px;
            }
    
            .eventCardInfo {
                @include displayFlex(column, start, start, 0);
                height: 153px;
            }
    
            .eventDate {
                order: 1;
                font-size: $p-font-size;
                &::before {
                    display: none;
                }
            }
            h4 {
                order: 2;
            }
            .eventCategory {
                order: 3;
            }
            .eventOnlinePlaque {
                font-size: $p-font-size;
                position:static;
                order: 4;
                padding: 0;
            }
            .eventAttendees {
                font-size: $p-font-size;
                order: 5;
                &::before {
                    display: none;
                }
                &::after {
                    content: ' attendees';
                }
            }
            .eventCost {
                display: none;
            }
        }
    }

    .joinMeetupContainer {
        margin: 40px 0;
        padding: 20px 56px;
        @include displayFlex(column, center, center, 16px);
        h3 {
            align-self: flex-start;
        }
        .joinMeetupInfo {
            align-items: center;
            p {
                font-size: $small-p-font-size;
            }
            #joinMeetupSignUpBtn {
                margin-bottom: 16px;
            }
        }
    }

    .citiesContainer {
        gap: 18px;
        .cityGroup {
            gap: 18px;
        }
        .miami {
            display: none;
        }
        .city {
            img {
                margin-bottom: 18px;
            }
        }
    }

    .howContainer {
        margin: 24px 0;
        .howCardsContainer {
            gap: 12px;
            .howCards {
                padding: 20px 15px;
            }
        }
    }

    .friendshipsCardsContainer {
        flex-direction: column;
        align-items: center;
        .friendshipsCard {

            img {
                width: 360px;
            }
            .friendshipsReadMore {
                margin-bottom: 16px;
            }
        }
    }

    .footerContainer {
        gap: 4%;
    }
    .followContainer {
        #appStores {
            display: none;
        }
    }

    .eventsMain {
        margin: 24px;
    }
    
    .eventsMainTopContainer {
        .eventsFilterContainer {
            width: 370px;
            margin: 18px 0;
        }
    }
    .eventFilterCard {
        height: 104px;
        width: 360px;
        img {
            min-width: 98px;
            height: 55px;
        }
        .eventFilterCardInfo {
            p, h4 {
                font-size: 10px;
            }
            .eventOnlinePlaque {
                font-size: 8px;
                position:static;
                order: 5;
                padding: 0;
            }
        }
    }
}

////////////// MEDIA 480PX ///////////////////// 

@media screen and (max-width: 480px) {
    .navBig {
        margin: 11px 7px 11px 24px;
    }

    .main {
        margin: 0 11px;
    }
    h2 {
        font-size: 25px;
    }
    h4 {
        font-size: 14px;
    }
    .mainDescription {
        margin: 30px 10px;

        img {
            max-width: 215px;
        }
    }

    .seeAllEvents {
        display: none;
    }

    .eventsGrid {
        .eventCard {
            border-top: 1px solid #D9D9D9;
            padding-top: 10px;
            height: 96px;
            img {
                max-width: 98px;
                max-height: 64px;
            }
            .eventCardInfo {
                height: 96px;
                position: relative;
                    .eventAttendees {
                        position: absolute;
                        bottom: 0px;
                    }
            }
            .eventDate, .eventCategory, .eventAttendees, .eventOnlinePlaque, h4 {
                font-size: 10px;
                margin-bottom: 3px;
            }
            
        }
    }

    .joinMeetupContainer {
        position: absolute;
        z-index: -1;
        padding: 16px;
    }

    .bottom {
        margin-top: 40vh;
    }

    .categoriesContainer {
        row-gap: 11px;
        column-gap: 23px;
    }

    .friendshipsContainer {
        margin-bottom: 108px;
        h3 {
            margin-bottom: 27px;
        }
    }
    #friendshipsDescription {
        display: none;
    }

    footer {
        padding: 20px 7px 36px 18px;
    }
    .footerTop {
        border-bottom: none;
        a {
            padding-bottom: 36px;
            border-bottom: 1px solid $input-border-color;
        }
    }
    .footerContainer {
        gap: 24px;
        .footerLinks {
            min-width: 40px;
            max-width: 98px;
        }
    }

    .eventsMain {
        margin: 18px 12px 18px 10px;
    }
    .eventsFilterButtonsContainer {
        min-width: 520px;
    }
    .top {
        width: 390px;
        padding-bottom: 10px;
        overflow-y: visible;
        overflow-x: scroll;
    }
}