* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

p {
  font-size: 14px;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 20px;
}

.navBig {
  margin: 11px 50px 11px 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.navBig .navLeft {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.navBig .navLeft #navSearchForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
  position: relative;
}
.navBig .navLeft #navSearchForm #navSearchIcon {
  position: absolute;
  left: 10px;
}
.navBig .navLeft #navSearchForm #navSearch, .navBig .navLeft #navSearchForm #navSearchLocation {
  min-height: 42px;
  border: 1px solid #707070;
}
.navBig .navLeft #navSearchForm #navSearch {
  padding-left: 37px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-right: 0px;
  width: 300px;
}
.navBig .navLeft #navSearchForm #navSearch::-moz-placeholder {
  font-size: 16px;
}
.navBig .navLeft #navSearchForm #navSearch::placeholder {
  font-size: 16px;
}
.navBig .navLeft #navSearchForm #navSearch:focus {
  outline: none;
}
.navBig .navLeft #navSearchForm #navSearchLocation {
  width: 254px;
  border-right: 0px;
  padding-left: 17px;
}
.navBig .navLeft #navSearchForm #navSearchLocation:focus {
  outline: none;
}
.navBig .navLeft #navSearchForm #navSearchSubmit {
  height: 42px;
  outline: none;
  border: none;
  background-color: #F65858;
  padding: 11px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.navBig .navRight {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 22px;
}
.navBig .navRight #navSignUpBtn {
  background-color: #00798A;
  color: #FFFFFF;
  padding: 8px 16px;
  border-radius: 8px;
  outline: none;
  border: none;
}
.navBig .navLang {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

#navSearchFormSmall {
  display: none;
}

main {
  margin: 0 158px;
}

.mainDescription {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 46px;
  margin: 96px 0;
}
.mainDescription .mainDescriptionLeft {
  max-width: 608px;
}
.mainDescription .mainDescriptionLeft h2, .mainDescription .mainDescriptionLeft p {
  margin-bottom: 24px;
}
.mainDescription .mainDescriptionLeft p {
  font-size: 16px;
}
.mainDescription .mainDescriptionLeft #mainDescriptionJoinBtn {
  background-color: #00798A;
  color: #FFFFFF;
  padding: 8px 16px;
  border-radius: 8px;
  outline: none;
  border: none;
}

.eventsNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
  margin-bottom: 24px;
}
.eventsNav .eventsNavDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.eventsNav .eventsNavDiv #eventsNavLocation {
  background-color: #F3F9F9;
  outline: none;
  border: none;
  padding: 8px 12px;
  font-size: 20px;
  font-weight: 600;
  color: #00798A;
  border-radius: 8px;
}
.eventsNav .eventsNavDiv #eventsNavLocation svg {
  width: 22px;
  height: 22px;
}
.eventsNav p {
  color: #00798A;
  font-size: 16px;
}

.eventsGrid {
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 272px));
  gap: 36px;
  margin: 0 auto;
  max-width: 1196px;
}
.eventsGrid .eventCard img {
  width: 100%;
  height: 153px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
  margin-bottom: 12px;
}
.eventsGrid .eventCard h4 {
  margin-bottom: 8px;
  font-weight: 500;
}
.eventsGrid .eventCard p {
  color: #707070;
  margin-bottom: 8px;
}
.eventsGrid .eventCard .eventDate {
  font-size: 16px;
}
.eventsGrid .eventCard .eventDate::before {
  vertical-align: middle;
  display: inline-block;
  margin-right: 3px;
  content: url(../assets/cards_icons/eventDateIcon.svg);
}
.eventsGrid .eventCard .eventAttendees {
  font-size: 16px;
}
.eventsGrid .eventCard .eventAttendees::before {
  vertical-align: middle;
  display: inline-block;
  margin-right: 3px;
  content: url(../assets/cards_icons/eventAttendeesIcon.svg);
}
.eventsGrid .eventCard .eventCost {
  font-size: 16px;
}
.eventsGrid .eventCard .eventCost::before {
  vertical-align: middle;
  display: inline-block;
  margin-right: 3px;
  content: url("../assets/cards_icons/eventCostIcon.svg");
}

@media screen and (max-width: 1200px) {
  main {
    margin: 0 10%;
  }
  .navBig .navLeft #navSearchForm #navSearch {
    width: -moz-fit-content;
    width: fit-content;
  }
  .navBig .navLeft #navSearchForm #navSearchLocation {
    width: -moz-fit-content;
    width: fit-content;
  }
  h2 {
    font-size: 36px;
  }
  .mainDescriptionLeft p {
    font-size: 14px;
  }
}
@media screen and (max-width: 1024px) {
  .navBig {
    margin: 11px 20px 11px 24px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 18px;
  }
  .navLang p {
    display: none;
  }
  .mainDescription {
    gap: 0;
  }
  .mainDescription img {
    max-width: 320px;
  }
  .mainDescription #mainDescriptionJoinBtn {
    display: none;
  }
  .eventsNav .eventsNavDiv #eventsNavLocation {
    font-size: 16px;
  }
  .eventsNav .eventsNavDiv #eventsNavLocation svg {
    width: 16px;
    height: 16px;
  }
  .eventsNav p {
    font-size: 14px;
  }
  .eventsGrid {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 272px));
    gap: 36px;
  }
}
@media screen and (max-width: 768px) {
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 16px;
  }
  #navSearchFormSmall {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0px;
    gap: 0;
    margin: 0 auto;
  }
  #navSearchFormSmall input {
    width: 300px;
    min-height: 42px;
    border: 1px solid #707070;
    padding-left: 37px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-right: 0px;
  }
  #navSearchFormSmall input::-moz-placeholder {
    font-size: 16px;
  }
  #navSearchFormSmall input::placeholder {
    font-size: 16px;
  }
  #navSearchFormSmall input:focus {
    outline: none;
  }
  #navSearchFormSmall button {
    height: 42px;
    outline: none;
    border: none;
    background-color: #F65858;
    padding: 11px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    position: relative;
  }
  #navSearchFormSmall #navSearchIconSmall {
    position: absolute;
    left: -292px;
    top: 8px;
  }
  .navBig .navLeft #navSearchForm {
    display: none;
  }
  .navLang p {
    display: block;
  }
  .mainDescription {
    margin: 30px 0;
    flex-direction: column;
  }
  .eventsNav .eventsNavDiv #eventsNavLocation {
    font-size: 16px;
  }
  .eventsNav .eventsNavDiv #eventsNavLocation svg {
    width: 16px;
    height: 16px;
  }
  .eventsNav p {
    font-size: 14px;
  }
  .eventsGrid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .eventsGrid .eventCard {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
  }
  .eventsGrid .eventCard img {
    max-width: 40%;
    max-height: 132px;
  }
  .eventsGrid .eventCard .eventCardInfo {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    height: 153px;
  }
  .eventsGrid .eventCard .eventDate {
    order: 1;
    font-size: 14px;
  }
  .eventsGrid .eventCard .eventDate::before {
    display: none;
  }
  .eventsGrid .eventCard h4 {
    order: 2;
  }
  .eventsGrid .eventCard .eventCategory {
    order: 3;
  }
  .eventsGrid .eventCard .eventAttendees {
    font-size: 14px;
    order: 4;
    justify-self: flex-end;
  }
  .eventsGrid .eventCard .eventAttendees::before {
    display: none;
  }
  .eventsGrid .eventCard .eventAttendees::after {
    content: " attendees";
  }
  .eventsGrid .eventCard .eventCost {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .navBig {
    margin: 11px 7px 11px 24px;
  }
  main {
    margin: 0 11px;
  }
  h2 {
    font-size: 25px;
  }
  h4 {
    font-size: 14px;
  }
  .mainDescription {
    margin: 30px 10px;
  }
  .mainDescription img {
    max-width: 215px;
  }
  .eventsGrid .eventCard {
    border-top: 1px solid #D9D9D9;
    padding-top: 10px;
  }
  .eventsGrid .eventCard img {
    max-width: 98px;
    max-height: 64px;
  }
  .eventsGrid .eventCard .eventCardInfo {
    height: -moz-fit-content;
    height: fit-content;
  }
  .eventsGrid .eventCard .eventDate, .eventsGrid .eventCard .eventCategory, .eventsGrid .eventCard .eventAttendees {
    font-size: 12px;
  }
}/*# sourceMappingURL=style.css.map */