@import 'reset';
@import 'mixins';
@import 'variables';

////////////// FONTS ///////////////////// 

p {
    font-size: $p-font-size;
}

h2 {
    font-size: $h2-font-size;
}

h3 {
    font-size: $h3-font-size;
    font-weight: 500;
}

h4 {
    font-size: $h4-font-size;
    font-weight: 500;
}

////////////// NAV ///////////////////// 

.navBig {
    margin: 11px 50px 11px 24px;
    @include displayFlex(row, space-between, center, 20px);

    .navLeft {
        @include displayFlex(row, center, center, 40px);

        #navSearchForm {
            @include displayFlex(row, center, center, 0px);
            position: relative;

            #navSearchIcon {
                position: absolute;
                left: 10px;
            }
    
            #navSearch, #navSearchLocation {
                min-height: 42px;
                border: 1px solid $input-border-color;
            }
    
            #navSearch {
                @include searchParams();
                width: 300px;
            }
    
            #navSearchLocation {
                width: 254px;
                border-right: 0px;
                padding-left: 17px;
    
                &:focus {
                    outline: none;
                }
            }
    
            #navSearchSubmit {
                @include searchBtn();
            }
        }

    }

    .navRight {
        @include displayFlex(row, center, center, 22px);

        #navSignUpBtn {
            @include buttonStyle();
        }
    }
    .navLang {
        @include displayFlex(row, center, center, 4px);
    }
}

#navSearchFormSmall {
    display: none;
}

.main {
    margin: 0 158px;
}

////////////// MAIN DESCRIPTION ///////////////////// 

.mainDescription {
    @include displayFlex(row, center, center, 46px);
    margin: 96px 0;

    .mainDescriptionLeft {
        max-width: 608px;

        h2, p {
            margin-bottom: 24px;
        }

        p {
            font-size: $important-p-font-size;
        }

        #mainDescriptionJoinBtn {
            @include buttonStyle();
        }
    }
}

////////////// EVENTS NAV ///////////////////// 

.eventsNav {
    @include displayFlex(row, space-between, center, 0px);
    margin-bottom: 24px;

    .eventsNavDiv {
        @include displayFlex(row, center, center, 12px);

        #eventsNavLocation {
            background-color: #F3F9F9;
            @include borderOutlineNone();
            padding: 8px 12px;
            font-size: $location-font-size;
            font-weight: $location-font-weight;
            color: $location-color;
            border-radius: $buttons-border-radius;

            svg {
                width: 22px;
                height: 22px;
            }
        }
    }
    p {
        color: $location-color;
        font-size: $important-p-font-size;
    }
}

#eventsNavUpcoming {
    margin-top: 40px;
}

////////////// EVENTS GRID ///////////////////// 

.eventsGrid {
    @include displayGrid(repeat(4, minmax(100px,272px)), 36px);
    margin: 0 auto;
    max-width: 1196px;
    .eventCard {
        position: relative;
        height: 400px;
        img {
            width: 100%;
            height: 153px;
            object-fit: cover;
            border-radius: 4px;
            margin-bottom: 12px;
        }
        h4 {
            margin-bottom: 8px;
            font-weight: 500;
        }
        p {
            color: $extra-info-color;
            margin-bottom: 8px;
        }

        .eventDate {
            font-size: $important-p-font-size;
            &::before {
                @include iconInlineAlign();
                content: url(../assets/cards_icons/eventDateIcon.svg);
            }
        }
        .eventAttendees{
            font-size: $important-p-font-size;
            &::before {
                @include iconInlineAlign();
                content: url(../assets/cards_icons/eventAttendeesIcon.svg);  
            }
        }
        .eventCost{
            font-size: $important-p-font-size;
            &::before {
                @include iconInlineAlign();
                content: url('../assets/cards_icons/eventCostIcon.svg');
            }
        }
        .eventOnlinePlaque {
            position: absolute;
            padding: 5px;
            border-radius: 4px;
            top: 5px;
            left: 10px;
            background-color: $buttons-color;
            color: $extra-info-color;
            &::before {
                @include iconInlineAlign();
                content: url(../assets/cards_icons/eventOnlinePlaque.svg);
            }
        }
    }
}

////////////// JOIN MEETUP ///////////////////// 
.joinMeetupContainer {
    margin: 0 158px;
    @include displayGrid(3fr 1fr, 10px);

    img {
        grid-row-start: span 2;

    }

    h3 {
        align-self: center;
    }

    margin-top: 40px;
    padding: 20px 56px;
    background-color: $categories-background-color;

    .joinMeetupInfo {
        @include displayFlex(column, flex-start, flex-start, 16px);

        p {
            font-size: $important-p-font-size;
            margin-right: 10%;
            line-height: 24px;
        }

        #joinMeetupSignUpBtn {
            background-color: $join-meetup-btn-background-color;
            color: $buttons-color;
            @include borderOutlineNone();
            border-radius: 8px;
            padding: 8px 66px;
        }
    }
}

////////////// CATEGORIES ///////////////////// 

#categoriesHeader {
    margin: 24px 0;
}
.categoriesContainer {
    @include displayFlex(row, center, center, 16px);
    row-gap: 16px;
    flex-wrap: wrap;
    margin-bottom: 48px;

    .categoryGroup {
        @include displayFlex(row, center, center, 16px);
    }
    .category {
        @include displayFlex(column, center, center, 6px);
        padding: 26px 28px;
        width: 135px;
        height: 112px;
        background-color: $categories-background-color;

        p {
            font-size: $important-p-font-size;
            max-width: 84px;
            text-align: center;
        }
    }
}

////////////// CITIES ///////////////////// 

.citiesPartContainer {
    p {
        margin: 16px 0 28px 0;
        color: $extra-info-color;
        font-size: $important-p-font-size;
        line-height: 24px;
    }
}

.citiesContainer {
    @include displayFlex(row, center, center, 40px);
    text-align: center;
    flex-wrap: wrap;

    .cityGroup {
        @include displayFlex(row, center, center, 40px);
    }
    .city {
        img {
            margin-bottom: 24px;
        }
    }
}






////////////// MEDIA QUERIES ///////////////////// 

////////////// MEDIA 1200PX ///////////////////// 

@media screen and (max-width: 1200px) {
    .main {
        margin: 0 10%;
    }

    .navBig {
        .navLeft {
            #navSearchForm {
                #navSearch {
                    width: fit-content;
                }
                #navSearchLocation {
                    width: fit-content;
                }
            }
        }
    }
    

    h2 {
        font-size: 36px;
    }
    
    .mainDescriptionLeft {
        p {
            font-size: $p-font-size;
        }
    }

    .joinMeetupContainer {
        margin: 40px 10%;
    }
}

////////////// MEDIA 1024PX ///////////////////// 

@media screen and (max-width: 1024px) {

    .navBig {
        margin: 11px 20px 11px 24px;
    }

    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 18px;
    }

    .navLang {
        p {
            display: none;
        }
    }

    .mainDescription {
        gap: 0;
        img {
            max-width: 320px;
        }
        #mainDescriptionJoinBtn {
            display: none;
        }
    }

    .eventsNav {
        .eventsNavDiv {
            #eventsNavLocation {
                font-size: $important-p-font-size;
                svg {
                    width: 16px;
                    height: 16px;
                }
            }

        }
        p {
            font-size: $p-font-size;
        }
    }

    .eventsGrid {
        @include displayGrid(repeat(3, minmax(100px,272px)), 36px);
    }

    .joinMeetupContainer {
        padding: 18px 24px;
        img {
            width: 238px;
        }
    }

    .citiesContainer {
        .city {
            img {
                width: 154px;
                height: 154px;
            }
        }
    }
}

////////////// MEDIA 768PX ///////////////////// 

@media screen and (max-width: 768px) {

    h2 {
        font-size: 28px;
    }
    h3 {
        font-size: 20px;
    }
    h4 {
        font-size: 16px;
    }

    #navSearchFormSmall {
        @include displayFlex(row, center, center, 0px);
        gap: 0;
        margin: 0 auto;
        input {
            width: 300px;
            min-height: 42px;
            border: 1px solid $input-border-color;
            @include searchParams();
        }
        button {
            @include searchBtn();
            position: relative;
        }
        #navSearchIconSmall {
            position: absolute;
            left: -292px;
            top: 8px;
        }
    }

    .navBig {
        .navLeft {
            #navSearchForm {
                display: none;
            }

        }
    }

    .navLang {
        p {
            display: block;
        }
    }
    
    .mainDescription {
        margin: 30px 0;
        flex-direction: column;
    }


    .eventsNav {
        .eventsNavDiv {
            #eventsNavLocation {
                font-size: $important-p-font-size;
                svg {
                    width: 16px;
                    height: 16px;
                }
            }
        }
        p {
            font-size: $p-font-size;
        }
    }

    .eventsGrid {
        @include displayFlex(column, center, center, 20px);
        .eventCard {
            @include displayFlex(row, start, flex-start, 20px);
            width: 100%;
            height: fit-content;
    
            img {
                max-width: 40%;
                max-height: 132px;
            }
    
            .eventCardInfo {
                display: flex;
                flex-direction: column;
                justify-content: baseline;
                height: 153px;
            }
    
            .eventDate {
                order: 1;
                font-size: $p-font-size;
                &::before {
                    display: none;
                }
            }
            h4 {
                order: 2;
            }
            .eventCategory {
                order: 3;
            }
            .eventAttendees {
                font-size: $p-font-size;
                order: 4;
                &::before {
                    display: none;
                }
                &::after {
                    content: ' attendees';
                }
                justify-self: flex-end;
            }
            .eventCost {
                display: none;
            }
            .eventOnlinePlaque {
                font-size: $p-font-size;
                position:static;
                order: 5;
                padding: 0;
            }
        }
    }

    .joinMeetupContainer {
        margin: 40px 0;
        padding: 20px 56px;
        @include displayFlex(column, center, center, 16px);
        h3 {
            align-self: flex-start;
        }
        .joinMeetupInfo {
            align-items: center;
            p {
                font-size: $small-p-font-size;
            }
            #joinMeetupSignUpBtn {
                margin-bottom: 16px;
            }
        }
    }

    .citiesContainer {
        gap: 18px;
        .cityGroup {
            gap: 18px;
        }
        .miami {
            display: none;
        }
        .city {
            img {
                margin-bottom: 18px;
            }
        }
    }

}

////////////// MEDIA 480PX ///////////////////// 

@media screen and (max-width: 480px) {
    .navBig {
        margin: 11px 7px 11px 24px;
    }

    .main {
        margin: 0 11px;
    }
    h2 {
        font-size: 25px;
    }
    h4 {
        font-size: 14px;
    }
    .mainDescription {
        margin: 30px 10px;

        img {
            max-width: 215px;
        }
    }

    .eventsGrid {
        .eventCard {
            border-top: 1px solid #D9D9D9;
            padding-top: 10px;
            img {
                max-width: 98px;
                max-height: 64px;
            }
            .eventCardInfo {
                height: fit-content;
            }
            .eventDate, .eventCategory, .eventAttendees, .eventOnlinePlaque {
                font-size: $small-p-font-size;
            }
        }
    }

    .joinMeetupContainer {
        position: absolute;
        z-index: -1;
        padding: 16px;
    }

    .bottom {
        margin-top: 26.5vh;
    }

    .categoriesContainer {
        row-gap: 11px;
        column-gap: 23px;
    }
}